registry "https://registry.npmmirror.com"

disturl "https://registry.npmmirror.com/-/binary/node/"

# node-sass预编译二进制文件下载地址
sass_binary_site "https://registry.npmmirror.com/-/binary/node-sass"
# sharp预编译共享库, 截止2022-09-20 sharp@0.31.0的预编译共享库并未同步到镜像, 入安装失败可切换到sharp@0.30.7使用
sharp_binary_host "https://registry.npmmirror.com/mirrors/sharp"
sharp_libvips_binary_host "https://registry.npmmirror.com/-/binary/sharp-libvips"
python_mirror "https://registry.npmmirror.com/-/binary/python/"
electron_mirror "https://registry.npmmirror.com/-/binary/electron/"
electron_builder_binaries_mirror "https://registry.npmmirror.com/-/binary/electron-builder-binaries/"
# 无特殊配置参考{pkg-name}_binary_host_mirror={mirror}
canvas_binary_host_mirror "https://registry.npmmirror.com/-/binary/canvas"
sqlite3_binary_host_mirror "https://foxgis.oss-cn-shanghai.aliyuncs.com/"
node_sqlite3_binary_host_mirror "https://registry.npmmirror.com/-/binary/sqlite3"
better_sqlite3_binary_host_mirror "https://registry.npmmirror.com/-/binary/better-sqlite3"
profiler_binary_host_mirror "https://registry.npmmirror.com/mirrors/node-inspector/"
# chromedriver_cdnurl "https://cdn.npm.taobao.org/dist/chromedriver"
