.loginMobile{
    .title{
        margin-bottom: 12px;
        font-size: 22px;
    }
    .fromItem{
        display: flex;
        align-items: center;
        :global{
            .semi-form-field-error-message{
                position: absolute;
                bottom: -8px;
            }
        }
    }
    .fromBtnItem{
        margin-top: 12px;
    }
}